body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.board {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    /* background-color: white; */
}

.board table {
    margin: auto;
}

.board button:hover{
    background-color: #A7EDE7;
    color: #A7EDE7;
}

.board button {
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 6px;
    height: 50px;
    width: 50px;
    background-color: #45CFDD;
    color: #45CFDD;
    font-size: 45px;
    font-weight: bolder;
}

.restart :hover{
    color: blue;
}

.restart{
    background-color: purple;
    padding: 5px 10px;

    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border: 2px solid purple;
    border-radius: 3px;
}



#winner {
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
}

/* credits */
.attribute {
    font-weight: bold;
}

.attribute a {
    text-decoration: none;
}
